.board{
  width: 500px;
  height: 500px;
  background-color: #ffff00;
  margin: auto;
  display: grid;
  grid-template-columns: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
  grid-template-rows: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
}

.spot{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Black{
  background-color: #B8F1B0;
}
.White{
  background-color: #14C38E;
}

.highlighted{
  opacity: 50%;
}

.container {
  position: relative;
}

.choices-container{
  height: 62.5px;
  width: 250px;
  display: grid;
  grid-template-columns: 62.5px 62.5px 62.5px 62.5px;
  background-color: #2C3333;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 44%;
  left: 38.5%;
}
.choices-container > a > div {
  background-color: #395B64;
}
.choices-container > a > div:hover{
  background-color: #A5C9CA;
}

.notifications{
  position: fixed;
  top: 3px;
  right: 3px;
}

.TurnMsg {
  background-color: #A5C9CA;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 0;
}

.TurnMsg > button {
  border-radius: 50%;
  background-color: #F65A83;
  border: 3px solid #EB1D36;
  margin-left: 90%;
  margin-top: 3px;
  margin-bottom: 0;
  animation-duration: 3s;
  animation-name: slidein;
  animation-timing-function: steps(1, end);
}
.TurnMsg > button:active{
  background-color: #F37878;
}

@keyframes slidein {
  25% {
    border-top-color: #A5C9CA;
  }

  50% {
    border-right-color: #A5C9CA;
  }
  75%{
    border-bottom-color: #A5C9CA;
  }

  to {
    border-color: #A5C9CA;
  }
}

.TurnMsg > p{
  margin-top: 0;
  padding-bottom: 3px;
}


.close {
  color: #fff;
  background: #2c545d;
  border-radius: 15px;
  display: block;
  border: 2px solid #fff;
  margin: 50px auto 0;
  height: 24px;
  width: 24px;
  position: relative;
}

.close:after {
  content: "\2715";
  position: absolute;
  top: 4px;
  right: 5px;
  line-height: 1;
  font-size: 18px;
}
.close:active {
  background: #2f2f2f;
  cursor: pointer;
}
.close:hover {
  background: #3f3f3f;
  cursor: pointer;
}
