.board{
  width: 500px;
  height: 500px;
  background-color: #ffff00;
  margin: auto;
  display: grid;
  grid-template-columns: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
  grid-template-rows: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
}

.spot{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Black{
  background-color: white;
}
.White{
  background-color: black;
}

.highlighted{
  opacity: 50%;
}

